<title>Online Booking</title>
{% extends 'layout.html' %}
{% load static %}
{% block body %}

{% if user.is_authenticated %}

</br></br></br>
 <!--Update and Logout-->
 <div class="user-panel text-center p-4 m-5">
 <a href="{% url 'userPanel' %}" class="button-c text-uppercase">User Details and Appointments</a>
<a href="{% url 'logoutx' %}" class="button-c text-uppercase">Logout</a>
</div>

<div class="shadow p-4 bg-body bg-body rounded text-black text-center m-5">
</br></br></br>
    <form method="post" action="{% url 'bookingSubmit' %}" class="me-2 ms-2" required>
        {% csrf_token %}
        
        <!--Select time-->
        <h2 class="text-center fPersian mt-4">Pick your time:</h2>
        <div>
            <select class="form-select fs-3 text-center" name="time">
                {% for time in times %}
                <option value="{{time}}">{{time}}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="button-c text-white mt-3 fPersian text-uppercase">Submit</button>
    </br></br></br>
    </form>
</br></br>

</div>

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
    <h1 class="p-2  me-3">Sign in</h1>
    <a href="{% url 'loginx' %}" class="btn btn-primary text-white">Sign in</a>
</div>

{% endif %}


{% endblock %}