{% extends 'index.html' %} {% load static %} {% block body %}

<div class="banner_w3lspvt" style="margin-top: 6%">

   <!-- Appointment section  -->
  <div>
  <center>
    <br />
   
    <img src="{% static 'images/heartlanding.jpg' %}" alt="" height="400px" />

    </br></br>


    <p  class="button-app"><a href="/booking"><b>Make and Appointment</b></a></p>
  </br></br></br></br>  </center>
</div>

 <!-- About us section  -->
  <div class="section-gray py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="title-section mb-md-5 mb-4">
        <center>
        <h3 class="text-uppercase text-bl font-weight-bold" style="margin-bottom: -20px; margin-top: 20px;">About Us</h3>
        </center>
      </div>
      <hr/>
  

      <div>
        <center>
        <h6 class="subheading-w3ls text-uppercase text-bl mb-4"><span style="color: #61bebc;">CARDIACPRO</span> - Smarter Heart Care, Powered by AI</h6>
        </center>
        <p>At CardiacPro, we are revolutionizing cardiac care through the power of artificial intelligence and advanced medical technology. As a cutting-edge cardiac center, our mission is to provide faster, more accurate diagnoses, personalized treatment plans, and proactive prevention strategies to ensure heart health for every patient.
  
  Combining the expertise of top-tier cardiologists with state-of-the-art AI algorithms, we analyze complex cardiac data in real time—empowering our team to detect conditions earlier, reduce diagnostic errors, and improve outcomes significantly.</br>
  
  Our services range from AI-assisted cardiac imaging and real-time ECG analysis to predictive risk modeling and virtual health monitoring, all designed to deliver high-quality, patient-centered care. Whether you’re here for a routine checkup or managing a chronic heart condition, we’re with you—every beat of the way.
  
  Innovation. Compassion. Precision. That’s the heart of what we do.</p>
      </div>
  
  
    </div>
    </div>
  </div>

    <!-- Services section  -->
      <div class="section-gray py-5">
        <div class="container py-xl-5 py-lg-3">
          <div class="title-section mb-md-5 mb-4">
            <center>
            <h3 class="text-uppercase text-bl font-weight-bold" style="margin-bottom: -20px; margin-top: 20px;">Our Services</h3>
            </center>
          </div>
          <hr/>

      <center>
        <h3 class="subheading-w3ls text-uppercase text-bl mb-4">Advanced Cardiovascular Treatments <span style="color: #61bebc;"> @CardioPro</h3>
        </center>

      <p> we are dedicated to providing exceptional, comprehensive care for your heart. Our team of experienced cardiologists, surgeons, and healthcare professionals work together to ensure that each patient receives the highest level of attention and treatment, tailored to their specific needs.
      </p></br>
      <p>  
        We understand that heart health is essential to overall well-being, and our mission is to empower our patients with the knowledge, tools, and care they need to lead healthy, active lives. Whether you're coming to us for routine checkups, specialized treatments, or advanced surgical procedures, we offer a range of services designed to promote cardiovascular health and improve quality of life.
        </p></br>
      <p>
        Our state-of-the-art facility is equipped with the latest technology, ensuring that every diagnosis and treatment is based on the most accurate and up-to-date information.
        </p>
        </br></br>
 
    
      <section class="our-services">
        <div class="row-our">

            <div class="column-our">
                <div class="card-our">
                    <center>
                  <img src="{% static 'images/heart1.jpg' %}" alt="" height="200px" />
                    </center>
                
                    <p><button class="button-our"><a href="">Electrocardiogram </a></button></p>
                </div>
            </div>
            <div class="column-our">
              <div class="card-our">
                  <center>
                <img src="{% static 'images/heart1.jpg' %}" alt="" height="200px" />
                  </center>
              
                  <p><button class="button-our"><a href="">Stress Test</a></button></p>
              </div>
          </div>
          <div class="column-our">
            <div class="card-our">
                <center>
              <img src="{% static 'images/heart1.jpg' %}" alt="" height="200px" />
                </center>
            
                <p><button class="button-our"><a href="">Echocardiogram</a></button></p>
            </div>
        </div>
        <div class="column-our">
          <div class="card-our">
              <center>
            <img src="{% static 'images/heart1.jpg' %}" alt="" height="200px" />
              </center>
          
              <p><button class="button-our"><a href="">Cardiac Catheterization</a></button></p>
          </div>
      </div>
      <div class="column-our">
          <div class="card-our">
              <center>
            <img src="{% static 'images/heart1.jpg' %}" alt="" height="200px" />
              </center>
          
              <p><button class="button-our"><a href="">Holter Monitor</a></button></p>
          </div>
      </div>
      <div class="column-our">
        <div class="card-our">
            <center>
          <img src="{% static 'images/heart1.jpg' %}" alt="" height="200px" />
            </center>
        
            <p><button class="button-our"><a href="">Cardiac MRI</a></button></p>
        </div>
    </div>
          </div>
    
    
      
    
    
    </section>
<!-- billing  -->
    <div>
      </br>
      <a href="{% url 'create_bill' %}">Create Bill</a><br>
      <a href="{% url 'view_bills' %}">View Bills</a>
      
      </br>
    </div>

    <!-- room  -->
    <div>
     <a href="{% url 'add_room' %}"> add room</a></br>

     <a href="{% url 'available_rooms' %}"> available room</a></br>
      <a href="{% url 'allocate_room' %}"> allocate room</a></br>
      <a href="{% url 'allocated_rooms' %}"> allocated room</a>

      
    </br>
    </div>
<!-- Contact section  -->

    <div class="section-gray py-5">
      <div class="container py-xl-5 py-lg-3">
        <div class="title-section mb-md-5 mb-4">
          <center>
          <h3 class="text-uppercase text-bl font-weight-bold" style="margin-bottom: -20px; margin-top: 20px;">Our Contact</h3>
          </center>
        </div>
        <hr/>

        <center>
            <h3 class="subheading-w3ls text-uppercase text-bl mb-4"><span style="color: #61bebc;">CardioPro</h3>
           
      
        <p> 123 Building
        </p>
        <p>  
        Vytila, Ernakulam
        </p>
        <p>
        Kerala, India
         </p>
         <p>
      Phone: 123 456 789
           </p> </center>
        
        </div>
      
      </div>
    
    
  
</div>

{% endblock %}
