{% extends 'index.html' %} {% load static %} {% block body %}

<div style="margin-top: 15%; text-align: center; margin-bottom: 15%">

<h3>Available Rooms</h3> </br>
<ul style="margin:2%">
  {% for room in rooms %}
    <li style="border: 1px solid black; padding: 10px;">{{ room.room_number }} - {{ room.room_type }}</li>
  {% empty %}
    <li>No available rooms.</li>
  {% endfor %}
</ul>
</br></br></br>
<h3 style="color:white">Currently Allocated Rooms:</h3>
<ul>
  {% for allocation in allocations %}
    <li>{{ allocation.patient_name }} - Room {{ allocation.room.room_number }}
        <a href="{% url 'discharge_patient' allocation.pk %}">Discharge</a></li>
  {% endfor %}
</ul>

</div>



{% endblock %}