{% extends 'index.html' %} {% load static %} {% block body %}

<div style="margin-top: 10%; margin-bottom: 6%">

   <!-- section  -->
  <div>
  <center>
    <br />



    <p  class="button-app"><a href="/add_room"><b>Add Room</b></a></p>
  </br>
</br>


<p  class="button-app"><a href="/available_rooms"><b>Available Room</b></a></p>
</br>

</br>


<p  class="button-app"><a href="/allocate_room"><b>Allocate Room</b></a></p>
</br>

</br>


<p  class="button-app"><a href="/allocated_rooms"><b>Discharge Room</b></a></p>
</br>

</br></br></br>  </center>
</div>



{% endblock %}
