{% extends 'index.html' %} {% load static %} {% block body %}

<div style="margin-top: 15%; text-align: center; margin-bottom: 15%">


    <h1>All Bills</h1>

    <form method="get">
        {{ form.as_p }}
        <button type="submit">Filter</button>
    </form>

    <table style="border: 1px solid black; margin-left:30%; border-collapse: collapse; margin-bottom: 20px; margin-top: 50px;"> 
        <tr>
            <th>Patient Name</th>
            <th>Description</th>
            <th>Amount</th>
            <th>GST (%)</th>
            <th>Total</th>
            <th>Paid</th>
            <th>Date</th>
        </tr>
        {% for bill in bills %}
        <tr>
            <td>{{ bill.patient_name }}</td>
            <td>{{ bill.service_description }}</td>
            <td>{{ bill.amount }}</td>
            <td>{{ bill.gst_percent }}</td>
            <td>{{ bill.amount|add:bill.amount|floatformat:2 }}</td>
            <td>{{ bill.paid }}</td>
            <td>{{ bill.date_created }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="7">No bills found.</td></tr>
        {% endfor %}
    </table>

    
</div>



{% endblock %}